<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recaudo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <main>
    <section class="container">
        <div class="row justify-content-center ">
            <div class="col-6">
                <img src="../../assets/img/Frailejon 3.png" alt="imagen1" class="img-fuid">
               <h1>APORTA A FRAILEJON</h1>
               <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nombres y Apellidos</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Seleccione un departamento</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>seleccione</option>
                        <option value="1">Antioquia</option>
                        <option value="2">Bucaramanga</option>
                        <option value="3">Amazonas</option>
                      </select>
                </div>
                <div class="mb-3">
                    <p class="fw-bold">Selecciona tu tipo de aporte</p>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          500 USD
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                          Articulos para la conservacion
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                          Trabajo voluntario
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                          Adopcion de mascotas afectadas por los incendios
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                          Alimentos y enseres
                        </label>
                      </div>
                </div>

                <div class="mb-3">
                    <p class="fw-bold">Quieres recibir el peluche frailejon? Escoge tu sexo</p>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Masculino
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          Femenino
                        </label>
                      </div>
                </div>
                <div class="mb-3">
                    <input type="file">
                </div>

               </form>

            </div>
        </div>
    </section>
    </main>
    <footer>
        <section class="container-fluid bg-success">
            <div class="row mb-5 ">
                <div class="col-4 fw-bold">DIRECCION FRAILEJON ERNESTO PEREZ
                    <img src="../../assets/img/Frailejon 3.png" alt="" class="w-50">
                    <p>CR 21 C 57 F 34 </p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31723.8352615973!2d-75.5529415!3d6.3318800500000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e442fa6958e1777%3A0x837c07a666cf50f0!2sBello%2C%20Antioquia!5e0!3m2!1ses-419!2sco!4v1707432702705!5m2!1ses-419!2sco" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-4">
                        <h1>Historia del frailejon</h1>
                    <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur optio laborum maiores itaque asperiores nulla eos fugit exercitationem nihil facere?
                    </p>
                </div>
                <div class="col-4">
                    <a class="text-white " href=""><i class="bi bi-facebook fs-1"></i></a>
                </div>
            </div>
        </section>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
</body>
</html>