.fondomenu{
    background-color: white;
}
.fondomenu2{
    background-color: green;
}
a{
    text-decoration: none;
}

.fondomenu3{
    background-color:lightseagreen ;
}

.fuente{
    font-family: 'Playpen Sans', cursive;
    font-size:50px;
    color:blueviolet;
    font-weight:bolder;
}

.fuente1{
    font-family: 'Ballet', cursive;
    
}

.fuente2{
  
    font-family: 'Gluten', cursive;
   
}

.fuente3{
    
    font-family: 'Honk', system-ui;
  
}